@using EPiServer.Shell.Navigation
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="margin: 0;">
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation()>
        <div class="container-fluid" style="border-top: 1px solid #d6d6d6;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
